* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #fff;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

input, button, textarea {
  font-family: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  letter-spacing: 1;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  font-family: Inter;
  background-color: #000000;
}

.body_fixed {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page > *:not(:last-child, :first-child) {
  margin-bottom: 150px;
}

@media (max-width: 576px) {
  .page > *:not(:last-child, :first-child) {
    margin-bottom: 100px;
  }
}
.menu {
  margin-bottom: 60px;
}
.menu__list {
  height: 30px;
  display: flex;
  justify-content: center;
  column-gap: 43px;
}
.menu__item {
  line-height: 21.78px;
}
.menu__link {
  letter-spacing: -0.02em;
  text-transform: uppercase;
  transition: color 0.6s;
}
.menu__link:hover {
  color: #ff25c2;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  box-sizing: content-box;
}

.description {
  line-height: 30.26px;
  font-size: 25px;
  letter-spacing: -0.03em;
}

.title {
  font-size: 100px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: -0.06em;
  color: #ff25c2;
}

.subtitle {
  font-size: 60px;
  line-height: 56.11px;
  font-weight: 700;
  color: white;
}

.buy-button {
  color: white;
  font-weight: 400px;
  font-size: 25px;
  line-height: 30px;
  background-color: transparent;
  border: 1px solid #fff;
  letter-spacing: -0.03em;
  border-radius: 100px;
  text-transform: uppercase;
  height: 110px;
  cursor: pointer;
  transition: all 0.5s;
}
.buy-button:hover {
  background-color: rgba(167, 167, 167, 0.4431372549);
  border-color: gray;
}

@media (max-width: 576px) {
  .description {
    font-size: 16px;
    line-height: 19.36px;
  }
  .title {
    line-height: 42.09px;
    font-size: 45px;
  }
  .subtitle {
    font-size: 45px;
    line-height: 42.09px;
  }
  .buy-button {
    height: 75px;
  }
}
.header {
  padding-top: 45px;
}

.burger-btn {
  display: none;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 13;
}
.burger_open {
  visibility: visible;
  opacity: 1;
}
.burger__content {
  width: 100%;
  height: 300px;
  background-color: #000;
}

@media (max-width: 576px) {
  .header {
    padding-top: 17px;
    margin-bottom: 77px;
  }
  .header .menu {
    display: none;
  }
  .header__container {
    position: absolute;
  }
  .header .burger-btn {
    margin: 0 auto;
    display: block;
    background-image: url("../img/header/burger-btn.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
}
.main-block__title {
  margin-bottom: 20px;
  font-size: 150px;
  font-weight: 700;
  line-height: 133px;
  letter-spacing: -0.07em;
  vertical-align: top;
  color: #ff25c2;
}
.main-block__desc {
  margin: 0 auto 20px auto;
  max-width: 430px;
}
.main-block__img {
  width: 100%;
  margin: -20px 0 70px 0;
}

@media (max-width: 576px) {
  .main-block__title {
    font-size: 60px;
    line-height: 72.61px;
  }
}
.models__container {
  text-align: left;
}
.models .model {
  width: 100%;
  height: 644px;
  border-radius: 30px;
  padding: 50px 0 0 50px;
}
.models .model_white {
  background: url("../img/models/ear-white.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 78px;
}
.models .model_black {
  border: 1px solid white;
  background: url("../img/models/ear-black.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 30px;
}
.models .model__title {
  margin-bottom: 149px;
  letter-spacing: -0.05em;
}
.models .model__mini-img {
  display: block;
  margin-bottom: 30px;
  border-radius: 30px;
}
.models .model__button {
  width: 420px;
}

@media (max-width: 576px) {
  .models .model {
    height: 550px;
    padding: 43px 15px 38px 14px;
  }
  .models .model__title {
    margin-bottom: 310px;
    font-size: 45px;
    line-height: 42.09px;
  }
  .models .model__mini-img {
    display: none;
  }
  .models .model__button {
    width: 100%;
  }
  .models .model_white {
    margin-bottom: 50px;
  }
}
.phone__container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 60px;
}
.phone__container > * {
  flex: 1 0 48%;
}
.phone__title {
  align-self: flex-end;
  text-align: left;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.phone__img-block {
  position: relative;
  max-width: 570px;
  height: 644px;
  background-image: url("../img/models/phone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 30px;
}
.phone__subtitle {
  position: absolute;
  top: 50px;
  left: 35px;
  font-size: 45px;
  font-weight: 700;
}
.phone__mini-img {
  position: absolute;
  left: 35px;
  bottom: 45px;
}

@media (max-width: 576px) {
  .phone__container {
    row-gap: 50px;
  }
}
.settings {
  position: relative;
}
.settings__title {
  max-width: 560px;
  margin: 0 auto;
}
.settings .back {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 786px;
  z-index: -1;
}
.settings__img {
  width: 100%;
  object-fit: cover;
}
.settings__container {
  padding-top: 190px;
  padding-bottom: 190px;
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  max-width: 671px;
  z-index: 2;
}

@media (max-width: 576px) {
  .settings__container {
    padding-top: 100px;
    padding-bottom: 100px;
    row-gap: 50px;
  }
  .settings__title {
    max-width: 308px;
  }
  .settings__desc {
    margin: 0 auto;
    max-width: 310px;
  }
  .settings .back {
    height: 559px;
  }
  .settings .back > *:first-of-type {
    display: none;
  }
}
.training__container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
.training__title {
  max-height: 222px;
  max-width: 676px;
  letter-spacing: -0.06em;
  margin: 0 auto;
}
.training .function {
  margin: 0 auto;
  max-height: 194px;
  max-width: 507px;
}
.training .function__icon {
  background-color: #ff25c2;
  border-radius: 100px;
  margin-bottom: 20px;
}
.training .function__icon_hash {
  padding: 19px;
}
.training .function__icon_pause {
  padding: 17px;
}
.training .function__icon_power {
  padding: 16px 21px;
}

.microphone {
  position: relative;
}
.microphone__container {
  padding-top: 130px;
}
.microphone__img-back {
  position: absolute;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  height: 100%;
}
.microphone__title {
  color: #fff;
  margin-bottom: 47px;
}
.microphone__desc {
  margin: 0 auto;
  max-width: 942px;
  font-weight: 700;
  font-size: 45px;
  line-height: 40.5px;
  letter-spacing: -0.06em;
  margin-bottom: 60px;
}
.microphone__button {
  width: 866px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.gallery {
  margin-bottom: 0;
}
.gallery__title {
  color: white;
  margin-bottom: 100px;
}
.gallery__slides {
  height: 582px;
  position: relative;
}
.gallery__slide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.gallery__slide_active {
  opacity: 1;
  visibility: visible;
}
.gallery__pict {
  width: 100%;
  height: 582px;
  border-radius: 30px;
  object-fit: cover;
}
.gallery__sub-wrapper {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
}
.gallery__subtitle {
  margin: 0 auto;
  max-width: 500px;
  font-size: 25px;
  line-height: 30.26px;
}
.gallery__controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.social {
  margin-top: -80px;
}
.social__list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 200px;
}
.social__item {
  width: 211px;
}
.social__link {
  font-size: 60px;
  font-weight: 700;
  line-height: 44.11px;
  letter-spacing: -0.06em;
  transition: color 0.5s;
}
.social__link:hover {
  color: rgb(157, 157, 157);
}

.footer__menu {
  margin-bottom: 70px;
}
.footer__end-wrapper {
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
}
.footer__end, .footer__end a {
  color: #ff25c2;
  font-size: 35px;
  font-weight: 700;
  line-height: 42.36px;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}/*# sourceMappingURL=style.css.map */