* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #fff;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

input, button, textarea {
  font-family: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  letter-spacing: 1;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  font-family: Inter;
  background-color: #000000;
}

.body_fixed {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  box-sizing: content-box;
}

.page {
  flex: 1 1 auto;
}
.page > *:not(:last-child, :first-child) {
  margin-bottom: 150px;
}

.menu {
  margin-bottom: 60px;
}
.menu__list {
  height: 30px;
  display: flex;
  justify-content: center;
  column-gap: 43px;
}
.menu__item {
  line-height: 21.78px;
}
.menu__link {
  letter-spacing: -0.02em;
  text-transform: uppercase;
  transition: color 0.6s;
}
.menu__link:hover {
  color: #ff25c2;
}

.description {
  line-height: 30.26px;
  font-size: 25px;
  letter-spacing: -0.03em;
}

.title {
  font-size: 100px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: -0.06em;
  color: #ff25c2;
}

.buy-button {
  color: white;
  font-weight: 400px;
  font-size: 25px;
  line-height: 30px;
  background-color: transparent;
  border: 1px solid #fff;
  letter-spacing: -0.03em;
  border-radius: 100px;
  text-transform: uppercase;
  height: 110px;
  cursor: pointer;
  transition: all 0.5s;
}
.buy-button:hover {
  background-color: rgba(167, 167, 167, 0.4431372549);
  border-color: gray;
}

.header {
  margin-top: 45px;
}

.burger-btn {
  display: none;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 13;
}
.burger_open {
  visibility: visible;
  opacity: 1;
}
.burger__content {
  width: 100%;
  height: 300px;
  background-color: #000;
}

.main-block__title {
  margin-bottom: 42px;
  font-size: 150px;
  font-weight: 700;
  line-height: 133px;
  letter-spacing: -0.07em;
  vertical-align: top;
  color: #ff25c2;
  margin-bottom: px;
}
.main-block__desc {
  position: relative;
  margin: 20px auto 0 auto;
  width: 430px;
}
.main-block__img {
  margin: -20px 0 70px 0;
}

.models__container {
  text-align: left;
}
.models .model {
  width: 100%;
  height: 644px;
  border-radius: 30px;
  padding: 50px 0 0 50px;
}
.models .model__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
  margin-bottom: 149px;
  letter-spacing: -0.05em;
}
.models .model__mini-img {
  display: block;
  margin-bottom: 30px;
  border-radius: 30px;
}
.models .model__button {
  width: 420px;
}
.models .model_white {
  background: url("../img/models/ear-white.jpg") no-repeat;
  margin-bottom: 78px;
}
.models .model_black {
  border: 1px solid white;
  background: url("../img/models/ear-black.jpg") no-repeat;
  margin-bottom: 30px;
}
.models .model_phone {
  padding-left: 0;
  height: 100%;
  display: flex;
  column-gap: 10px;
}
.models .model_phone > * {
  flex: 1 0 46%;
}
.models .model_phone .model__title {
  margin-bottom: 0;
  position: absolute;
  top: 50px;
  left: 35px;
  font-size: 45px;
  line-height: 42.09px;
}
.models .model_phone .model__mini-img {
  position: absolute;
  left: 35px;
  bottom: 45px;
}
.models .model__right-col {
  max-width: 570px;
  height: 644px;
  border-radius: 30px;
  position: relative;
  background-image: url("../img/models/phone.png");
  background-size: cover;
  background-position: 50%;
}
.models .model__desc {
  align-self: end;
  font-size: 60px;
  line-height: 56.11px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.settings {
  position: relative;
}
.settings__title {
  max-width: 560px;
  margin: 0 auto;
}
.settings .back {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 786px;
  z-index: -1;
}
.settings__img {
  width: 100%;
  object-fit: cover;
}
.settings__container {
  padding-top: 190px;
  padding-bottom: 190px;
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  max-width: 671px;
  z-index: 2;
}

.training__container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
.training__title {
  max-height: 222px;
  max-width: 676px;
  letter-spacing: -0.06em;
  margin: 0 auto;
}
.training .function {
  margin: 0 auto;
  max-height: 194px;
  max-width: 507px;
}
.training .function__icon {
  background-color: #ff25c2;
  border-radius: 100px;
  margin-bottom: 20px;
}
.training .function__icon_hash {
  padding: 19px;
}
.training .function__icon_pause {
  padding: 17px;
}
.training .function__icon_power {
  padding: 16px 21px;
}

.microphone {
  position: relative;
}
.microphone__container {
  padding-top: 130px;
}
.microphone__img-back {
  position: absolute;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  height: 100%;
}
.microphone__title {
  color: #fff;
  margin-bottom: 47px;
}
.microphone__desc {
  margin: 0 auto;
  max-width: 942px;
  font-weight: 700;
  font-size: 45px;
  line-height: 40.5px;
  letter-spacing: -0.06em;
  margin-bottom: 60px;
}
.microphone__button {
  width: 866px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.gallery {
  margin-bottom: 0;
}
.gallery__title {
  color: white;
  margin-bottom: 100px;
}
.gallery__slides {
  height: 582px;
  position: relative;
}
.gallery__slide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.gallery__slide_active {
  opacity: 1;
  visibility: visible;
}
.gallery__pict {
  width: 100%;
  height: 582px;
  border-radius: 30px;
  object-fit: cover;
}
.gallery__sub-wrapper {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
}
.gallery__subtitle {
  margin: 0 auto;
  max-width: 500px;
  font-size: 25px;
  line-height: 30.26px;
}
.gallery__controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.social {
  margin-top: -80px;
}
.social__list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 200px;
}
.social__item {
  width: 211px;
}
.social__link {
  font-size: 60px;
  font-weight: 700;
  line-height: 44.11px;
  letter-spacing: -0.06em;
  transition: color 0.5s;
}
.social__link:hover {
  color: rgb(157, 157, 157);
}

.footer__menu {
  margin-bottom: 70px;
}
.footer__end-wrapper {
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
}
.footer__end, .footer__end a {
  color: #ff25c2;
  font-size: 35px;
  font-weight: 700;
  line-height: 42.36px;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 960px) {
  .models .model_phone {
    margin-top: 150px;
    display: block;
  }
  .models .model__desc {
    max-width: 831px;
  }
  .models .model__right-col {
    max-width: 695px;
    height: 644px;
  }
}
@media (max-width: 576px) {
  .header .menu {
    display: none;
  }
  .header .burger-btn {
    display: block;
    background-image: url("../img/header/burger-btn.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */