@media (max-width: 1100px) {
    .microphone__title {
        font-size: 60px;
    }

    .microphone__desc {
        font-size: 30px;
        width: 80%;
    }

    .microphone__container {
        padding-top: 90px;
    }

    .microphone__button {
        width: 90%;
    }
}

@media (max-width: 780px) {
    .page>*:not(:last-child, :first-child) {
        margin-bottom: 50px;
    }

    .navigation {
        margin-bottom: 40px;
    }

    .navigation a {
        font-size: 22px;
    }

    .navigation__list {
        max-width: 90%;
        gap: 20px;
    }

    .main-block__title {
        margin-top: 20px;
        font-size: 85px;
        line-height: 80px;
        margin-bottom: 0;
    }

    .main-block__desc {
        font-size: 18px;
        width: 70%;
    }

    .main-block__img {
        max-width: 100%;
    }

    .title {
        font-size: 60px;
        line-height: 58px;
    }

    .back {
        height: 430px;
    }

    .settings__container {
        padding-top: 70px;
        padding-bottom: 0px;
        row-gap: 20px;
    }

    .training__title {
        margin-top: 60px;
        width: 100%;
        font-size: 45px;
    }

    .training_container {
        row-gap: 40px;
    }

    .description {
        font-size: 18px;
    }

    .microphone__title {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .microphone__desc {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .microphone__container {
        padding-top: 40px;
    }

    .microphone__button {
        height: 80px;
        width: 70%;
        margin-bottom: 40px;
    }

    .buy-button {
        width: 70%;
    }

    .sound__title {
        margin-bottom: 40px;
    }

    .social__list {
        padding: 0;
        justify-content: space-around;
        margin-bottom: 60px;
    }

    .social__list__item a {
        font-size: 40px;
    }

    .footer__end {
        margin-bottom: 21px;
    }
}

@media (max-width: 583px) {
    .page>*:not(:last-child, :first-child) {
        margin-bottom: 30px;
    }

    .training__title {
        margin-top: 0px;
        width: 100%;
        font-size: 45px;
    }

    .main-block__title {
        margin-top: 10px;
        font-size: 55px;
    }

    .main-block__desc {
        margin-top: 10px;
    }

    .navigation a {
        font-size: 20px;
    }

    .navigation__list {
        gap: 15px;
        width: 100%;
    }

    .list__item {
        width: 100%;
        height: 450px;
        border-radius: 30px;
        padding: 50px 0 0 50px;
    }

    .list__item__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 38px;
        margin-bottom: 40px;
        letter-spacing: -0.05em;
    }

    .list__item__mini-img {
        display: block;
        margin-bottom: 30px;
        border-radius: 30px;
    }

    .list__item__button {
        height: 60px;
        width: 50%;
    }

    .title {
        font-size: 35px;
        line-height: 33px;
        font-weight: 700;
    }

    .back {
        height: 340px;
    }

    .settings__container {
        padding-top: 70px;
        row-gap: 10px;
    }

    .training__title {
        margin-top: 70px;
    }

    .training_container {
        row-gap: 30px;
    }

    .description {
        font-size: 16px;
    }

    .microphone__title {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 28px;
    }

    .microphone__desc {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 30px;
    }

    .microphone__container {
        padding-top: 40px;
    }

    .microphone__button {
        height: 60px;
        margin-bottom: 40px;
    }

    .buy-button {
        width: 50%;
        font-size: 18px;
    }

    .sound__title {
        margin-bottom: 40px;

    }

    .sound__desc__text {
        font-size: 16px;
        line-height: 20px;
        width: 70%;
    }

    .social__list {
        padding: 0;
        justify-content: space-around;
        margin-bottom: 60px;
    }

    .social__list__item a {
        font-size: 40px;
    }

    .footer__end {
        margin-bottom: 21px;
    }
}

@media (max-width: 400px) {
    .header {
        margin-top: 22px;
    }

    .main-block__title {
        margin-top: 20px;
        font-size: 50px;
    }

    .main-block__desc {
        margin-top: 10px;
    }

    .navigation a {
        font-size: 18px;
    }

    .navigation__list {
        gap: 15px;
        width: 100%;
    }

    .list__item {
        width: 100%;
        height: 360px;
        border-radius: 30px;
        padding: 20px 0 0 20px;
    }

    .list__item__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 30px;
        letter-spacing: -0.05em;
    }

    .list__item__mini-img {
        display: block;
        margin-bottom: 30px;
        border-radius: 30px;
    }

    .list__item__button {
        height: 60px;
        width: 50%;
    }

    .title {
        font-size: 30px;
        line-height: 29px;
        font-weight: 700;
    }

    .back {
        height: 350px;
    }

    .settings__container {
        padding-top: 70px;
        row-gap: 15px;
    }

    .training__title {
        margin-top: 70px;
    }

    .training_container {
        row-gap: 30px;
    }

    .function__icon {
        margin-bottom: 10px;
    }

    .description {
        font-size: 15px;
        line-height: 24px;
    }

    .microphone__title {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 28px;
    }

    .microphone__desc {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .microphone__container {
        padding-top: 40px;
    }

    .microphone__button {
        height: 50px;
        margin-bottom: 30px;
    }

    .buy-button {
        width: 50%;
        font-size: 18px;
    }

    .sound__title {
        margin-bottom: 30px;

    }

    .sound__desc__text {
        font-size: 16px;
        line-height: 20px;
        width: 70%;
    }

    .social__list {
        padding: 0;
        justify-content: space-around;
        margin-bottom: 40px;
    }

    .social__list__item a {
        font-size: 30px;
    }

    .footer__end {
        margin-bottom: 21px;
    }
}