.footer {
    &__menu {
        margin-bottom: 70px;
    }
    &__end-wrapper {
        margin-bottom: 54px;
        display: flex;
        justify-content: space-between;
    }
    &__end, &__end a {
        color: $pink-color;
        font-size: 35px;
        font-weight: 700;
        line-height: 42.36px;
    }
}

@media (max-width: 960px) {
    .footer {
        .menu {
            margin-bottom: 45px;
        }
    }
}
@media (max-width: 576px) {
    .footer {
        .menu {
            height: 100%;
            margin-bottom: 59px;

            &__list {
                flex-direction: column;
                row-gap: 9px;
            }
        }
        &__end-wrapper {
            margin-bottom: 52px;
            justify-content: center;
            flex-direction: row-reverse;
            column-gap: 10px;
        }
        &__end, &__end a {
            font-size: 22px;
            line-height: 26.63px;
        }
    }

}