.footer {
    &__menu {
        margin-bottom: 70px;
    }
    &__end-wrapper {
        margin-bottom: 42px;
        display: flex;
        justify-content: space-between;
    }
    &__end, &__end a {
        color: $pink-color;
        font-size: 35px;
        font-weight: 700;
        line-height: 42.36px;
    }
}