.header {
  margin-top: 45px;
  .burger-btn {
    display: none;
  }




@media (max-width: 576px) {
  .header {
    margin-top: 17px;
    margin-bottom: 77px;
    position: relative;
    .menu {
      display: none;
    }
    .burger-btn-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
    .burger-btn {
      margin: 0 auto;
      display: block;
      background-image: url("../img/header/burger-btn.svg");
      background-size: cover;
      height: 50px;
      width: 50px;
      cursor: pointer;
      &_open {
        margin-top: -8px;
        background-image: url("../img/header/burger-close.svg");
        width: 73px;
        height: 73px;
      }
    }
  }
}