.main-block {
    &__title {
        margin-bottom: 42px;
        font-size: 150px;
        font-weight: 700;
        line-height: 133px;
        letter-spacing: -0.07em;
        vertical-align: top;
        color: $pink-color;
        margin-bottom: px;
    }
    &__desc {
        position: relative;
        margin: 20px auto 0 auto;
        width: 430px;
    }
    &__img {
        margin: -20px 0 70px 0;
    }
}