.microphone {
    position: relative;
    &__container {
        padding-top: 130px;
    }
    &__img-back {
        position: absolute;
        width: 100%;
        z-index: -1;
        object-fit: cover;
        height: 100%;
    }
    &__title {
        color: #fff;
        margin-bottom: 47px;
    }
    &__desc {
        margin: 0 auto;
        max-width: 942px;
        font-weight: 700;
        font-size: 45px;
        line-height: 40.5px;
        letter-spacing: -0.06em;
        margin-bottom: 60px;
    }
    &__button {
        width: 866px;
        margin: 0 auto;
        margin-bottom: 130px;
    }
}