.models {
    
    &__container {
        text-align: left;
    }
    .list__item {
        width: 100%;
        height: 644px;
        border-radius: 30px;
        padding: 50px 0 0 50px;
        &__title {
            font-weight: 700;
            font-size: 60px;
            line-height: 56px;
            margin-bottom: 149px;
            letter-spacing: -0.05em;
        }
        &__mini-img {
            display: block;
            margin-bottom: 30px;
            border-radius: 30px;
        }
        &__button {
            width: 420px;
        }
        &_white {
            background: url('../img/models/ear-white.jpg') no-repeat;
            margin-bottom: 78px;
        }
        &_black {
            border: 1px solid white;
            background: url('../img/models/ear-black.jpg') no-repeat;
            margin-bottom: 30px;
        }
        &_phone {
            padding-left: 0;
            height: 696px;
            display: flex;
            column-gap: 10px;
            & > * {
                flex: 1 0 49%;
            }
            .right-col {
                border-radius: 30px;
                position: relative;
                background-image: url('../img/models/phone.png');
                background-size: cover;
                background-position: 50%;
            }
            .list__item__title {
                margin-bottom: 0;
                position: absolute;
                top: 50px;
                left: 35px;
                font-size: 45px;
                line-height: 42.09px;
                
            }
            .list__item__mini-img {
                position: absolute;
                left: 35px;
                bottom: 45px;
            }
        }
    }
    .list__desc {
        align-self: end;
        font-size: 60px;
        line-height: 56.11px;
        font-weight: 700;
        letter-spacing: -0.05em;

    }
}