.phone {
  &__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 25px;
    & > * {
      flex: 1 0 48%;
    }
  }
  &__title {
    max-width: 831px;
    align-self: end;
    text-align: left;
    font-weight: 700;
    letter-spacing: -0.05em;
  }
  &__img-block {
    position: relative;
    height: 644px;
    max-width: 695px;
    background-image: url("../img/models/phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 30px;
  }
  &__subtitle {
    position: absolute;
    top: 50px;
    left: 35px;
    font-size: 45px;
    font-weight: 700;
  }
  &__mini-img {
    position: absolute;
    left: 35px;
    bottom: 45px;
  }
}

@media (max-width: 960px) {
  .phone {
    &__container {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    &__title {
      align-self: start;
      max-width: 831px;
    }
    &__img-block {
      display: inline-block;
      width: 100%;
      flex: none;
      align-self: flex-end;
      max-width: 695px;
    }
  }
}

@media (max-width: 576px) {
  .phone {
    row-gap: 50px;

  }
}
