.settings {
    position: relative;
    &__title {
        max-width: 560px;
        margin: 0 auto;
    }
    .back {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 786px;
        z-index: -1;
    }
    &__img {
        width: 100%;
        object-fit: cover;
    }
    &__container {
        padding-top: 190px;
        padding-bottom: 190px;
        display: flex;
        flex-direction: column;
        row-gap: 39px;
        max-width: 671px;
        z-index: 2;
    }
}

@media (max-width: 576px) {
    .settings {
        &__container {
            padding-top: 100px;
            padding-bottom: 100px;
            row-gap: 50px;
        }
        &__title {
            max-width: 308px;
        }
        &__desc {
            margin: 0 auto;
            max-width: 310px;
        }

        .back {
            height: 559px;
            &>*:first-of-type {
                display: none;
            }
        }
    }
}