.social {
    &__list {
        margin-bottom: 200px;
        display: flex;
        justify-content: center;
        column-gap: 30px;
    }
    &__item {
        max-width: 211px;
    }

    &__link {
        font-size: 60px;
        font-weight: 700;
        line-height: 44.11px;
        letter-spacing: -0.06em;
        transition: color .5s;
        &:hover {
            color: rgb(157, 157, 157);
        }
    }
}

@media (max-width: 576px) {
    .social {
        &__list {
            margin-bottom: 65px;
            justify-content: space-evenly;
            column-gap: 0;
        }
        &__link {
            font-size: 25px;
            line-height: 18.38px;
        }
    }

}