.social {
    margin-top: -80px;
    &__list {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        margin-bottom: 200px;
    }
    &__item {
        width: 211px;
    }

    &__link {
        font-size: 60px;
        font-weight: 700;
        line-height: 44.11px;
        letter-spacing: -0.06em;
        transition: color .5s;
        &:hover {
            color: rgb(157, 157, 157);
        }
    }
}