.training {
    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 80px;
    }
    &__title {
        max-height: 222px;
        max-width: 676px;
        letter-spacing: -0.06em;
        margin: 0 auto;
    }
    .function {
        margin: 0 auto;
        max-height: 194px;
        max-width: 507px;
        &__icon {
            background-color: $pink-color;
            border-radius: 100px;
            margin-bottom: 20px;
            &_hash {
                padding: 19px;
            }
            &_pause {
                padding: 17px;
            }
            &_power {
                padding: 16px 21px;
            }
        }
        
    }
    
}

@media (max-width: 576px) {
    .training {
        &__container {
            row-gap: 50px;
        }
        &__title {
            width: 413px;
        }
        .function {
            max-width: 319px;
        }
    }
}