.settings {
    position: relative;
    .back {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 786px;
        z-index: -1;
    }
    &__img {
        width: 100%;
        object-fit: cover;
    }
    &__container {
        padding-top: 190px;
        padding-bottom: 190px;
        display: flex;
        flex-direction: column;
        row-gap: 39px;
        max-width: 671px;
        z-index: 2;
    }
}