.social {
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0 196px;
        margin-bottom: 198px;
        &__item {
            font-size: 60px;
            font-weight: 700;
            line-height: 44.11px;
            letter-spacing: -0.06em;
            & a {
                transition: color .5s;
                &:hover {
                    color: rgb(157, 157, 157);
                }
            }
        }
    }
}